.pop-in {
    opacity: 0;
    transform: scale(0.5);
    animation: popIn 0.5s forwards;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.results {
    margin-top: 10px;



    .result {
        position: relative;
        background-color: white;
        color: #fff;
        margin: 16px;
        border-radius: 999px;
        line-height: 3em;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        a,
        p {
            color: black;
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

        img {
            float: left;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid #adb5bd;
            padding: 2px;
        }
    }

    .result:hover {
        background-color: #eee;
    }
}